@import '_var';

.banner {
    background-color: #888;
    width: 100%;
    position: fixed;


    .content-navigation {
        display: flex;
        justify-content: space-between;
    }

    .nav {
        margin: 0;
        padding: 0;
        display: flex;
        list-style-type: none;


        &-list {
            padding: $fs3 calc($fs3 * 2);
            transition: all .15s;

            &:hover {
                transform: scale(1.1);
        
            }
        }
    }
}
