/* You can add global styles to this file, and also import other style files */
@import 'app/_utils/globalStyle/_navigation',
        'app/_utils/globalStyle/_typo',
        'app/_utils/globalStyle/card';

body, html {
    margin: 0;
    width: 100vw;
    overflow-x: hidden;
}

.wrap {
    margin: 0 auto;
}

